<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="site-info">
    <div class="footertext">
      <div class="img-preload">
        <!-- cdn资源 -->
        <img
          src="https://cdn.jsdelivr.net/gh/2016838087/SakuraHexoFile@master/themes/cdn/svg/wordpress-rotating-ball-o.svg">
        <img src="https://cdn.jsdelivr.net/gh/2016838087/SakuraHexoFile@master/themes/cdn/svg/disqus-preloader.svg">
      </div>
      <p style="color: #666666;">&copy 2022</p>
    </div>
    <div class="footer-device">
      <p style="font-family: 'Ubuntu', sans-serif;">
        <span id="timeDate">载入天数...&nbsp;&nbsp;</span><span id="times">载入时分秒...&nbsp;&nbsp;</span>
        <span id="busuanzi_container_site_pv">您是第<span id="busuanzi_value_site_pv"></span>个访客&nbsp;&nbsp;</span>
        <a href="https://beian.miit.gov.cn/#/Integrated/recordQuery" target="_blank"
          style="color: #b9b9b9;;text-decoration: underline dotted rgba(0, 0, 0, .1);">湘ICP备19020367号-1</a> <i
          class="iconfont icon-sakura rotating" style="color: #ffc0cb;display:inline-block"></i> by <a
          href="https://www.lovetianci.cn" target="_blank"
          style="color: #b9b9b9;;text-decoration: underline dotted rgba(0, 0, 0, .1);">Tianci </a>&copy 版权所有</a>
      </p>
    </div>
  </div>
</footer>



<!-- <script src="/js/tocbot.js"></script> -->
<script type="text/javascript"
  src="https://cdn.jsdelivr.net/gh/2016838087/SakuraHexoFile@master/themes/js/lib.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/2016838087/SakuraHexoFile@master/themes/cdn/js/clipboard.min.js"></script>
<script type="text/javascript"
  src="https://cdn.jsdelivr.net/gh/2016838087/SakuraHexoFile@master/themes/js/InsightSearch.js"></script>
<script type="text/javascript"
  src="https://cdn.jsdelivr.net/gh/2016838087/SakuraHexoFile@master/themes/js/jquery.fancybox.min.js"></script>
<script type="text/javascript"
  src="https://cdn.jsdelivr.net/gh/2016838087/SakuraHexoFile@master/themes/js/zoom.min.js"></script>
<script type="text/javascript" src="/js/sakura-app.js"></script>

<!-- Leancloud 操作库，为了防止和说说页面冲突，放到post.ejs保证生成不影响page页面-->
<!-- <script type="text/javascript" src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script> -->
<!-- <script type="text/javascript" src="//unpkg.com/valine@latest/dist/Valine.min.js"></script> -->
<script type="text/javascript" src="/js/NewValine.js"></script>

<!-- 偷来的Leancloud操作库 -->
<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/drew233/css/lvaline.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/leancloud-storage@5.0.0/dist/av-min.js"></script> -->

<!-- 淘汰的Leancloud 操作库 -->
<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/2016838087/SakuraHexoFile@master/themes/js/av-min.js"></script> -->
<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/2016838087/SakuraHexoFile@master/themes/js/Valine.js"></script> -->

<!-- 不蒜子 网页计数器 -->
<script src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.min.js"></script> -->

<!-- 网页看板娘 -->
<!-- <script src="https://cdn.jsdelivr.net/gh/2016838087/TianciShokaBlog@master/live2dw/lib/L2Dwidget.min.js?094cbace49a39548bed64abff5988b05"></script> -->
<!-- <script>L2Dwidget.init({"pluginRootPath":"https://cdn.jsdelivr.net/gh/2016838087/TianciShokaBlog@master/live2dw/","pluginJsPath":"https://cdn.jsdelivr.net/gh/2016838087/TianciShokaBlog@master/lib/","pluginModelPath":"https://cdn.jsdelivr.net/gh/2016838087/TianciShokaBlog@master/assets/","tagMode":false,"debug":false,"model":{"jsonPath":"https://cdn.jsdelivr.net/gh/2016838087/TianciShokaBlog@master/live2dw/assets/z16.model.json"},"display":{"position":"right","width":150,"height":300},"mobile":{"show":false},"log":false});</script> -->

<!-- <script src="https://cdn.jsdelivr.net/gh/2016838087/live2d-widget@master/autoload.js"></script> -->
<!-- 关闭看板娘 -->

<!-- 有趣的标题 -->
<script src="https://cdn.jsdelivr.net/gh/2016838087/SakuraHexoFile@master/themes/cdn/js/FunnyTitle.js"></script>

<!-- 樱花飘落 -->
<!-- <script src="http://139.155.75.229:81/Upload/Images/1640846639759.js"></script> -->
<script src="https://cdn.jsdelivr.net/gh/2016838087/SakuraHexoFile@master/themes/cdn/js/sakura.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/gh/2016838087/SakuraHexoFile@master/themes/cdn/js/snow.js"></script> -->

<!-- 鼠标点击爱心 -->
<!-- <script src="https://cdn.jsdelivr.net/gh/2016838087/SakuraHexoFile@master/themes/cdn/js/Love.js"></script> -->

<!-- 鼠标点击爆炸特效 -->
<script type="text/javascript"
  src="https://cdn.jsdelivr.net/gh/2016838087/SakuraHexoFile@master/themes/cdn/js/anime.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/2016838087/SakuraHexoFile@master/themes/cdn/js/clickBoom.js"></script>

<!-- 鼠标滑动显示星星 -->
<!-- <script src="https://cdn.jsdelivr.net/gh/2016838087/SakuraHexoFile@master/themes/cdn/js/stars.js"></script> -->

<!-- 禁用F12和右键 -->
<!-- <script src="https://cdn.jsdelivr.net/gh/2016838087/SakuraHexoFile@master/themes/cdn/js/noSomekey.js"></script> -->

<!--动态线条背景-->
<script type="text/javascript" color="220,220,220" opacity='0.7' zIndex="-2" count="200"
  src="https://cdn.jsdelivr.net/gh/2016838087/SakuraHexoFile@master/themes/cdn/js/Lines.js">
  </script>

<script type="text/javascript">
  /* <![CDATA[ */
  if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
    var Poi = { "pjax": "<%- theme.pjax %>", "movies": { "url": "<%- theme.movies.url %>", "name": "<%- theme.movies.name%>", "live": "close" }, "windowheight": "fixed", "codelamp": "close", "ajaxurl": "", "order": "asc", "formpostion": "bottom" };
  } else {
    var Poi = { "pjax": "<%- theme.pjax %>", "movies": { "url": "<%- theme.movies.url %>", "name": "<%- theme.movies.name%>", "live": "open" }, "windowheight": "auto", "codelamp": "close", "ajaxurl": "", "order": "asc", "formpostion": "bottom" };
  }
/* ]]> */

</script>
<script>
  $(document).ready(function () {
    if ($(".toc").length > 0 && document.body.clientWidth > 1200) {
      if ($(".pattern-center").length > 0) { //有图的情况
        tocbot.init({
          // Where to render the table of contents.
          tocSelector: '.toc', // 放置目录的容器
          // Where to grab the headings to build the table of contents.
          contentSelector: '.entry-content', // 正文内容所在
          // Which headings to grab inside of the contentSelector element.
          scrollSmooth: true,
          headingSelector: 'h1, h2, h3, h4, h5', // 需要索引的标题级别
          headingsOffset: -400,
          scrollSmoothOffset: -85
        });
      } else {
        tocbot.init({
          // Where to render the table of contents.
          tocSelector: '.toc', // 放置目录的容器
          // Where to grab the headings to build the table of contents.
          contentSelector: '.entry-content', // 正文内容所在
          // Which headings to grab inside of the contentSelector element.
          scrollSmooth: true,
          headingSelector: 'h1, h2, h3, h4, h5', // 需要索引的标题级别
          headingsOffset: -85,
          scrollSmoothOffset: -85
        });
      }
      var offsetTop = $('.toc').offset().top - 95;
      window.onscroll = function () {
        var scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
        if (scrollTop >= offsetTop) {
          $('.toc').addClass('toc-fixed');
        } else {
          $('.toc').removeClass('toc-fixed');
        }
      }
    }
  });
</script>
<!-- 网站时间统计 -->
<script>
  var now = new Date();
  function createtime() {
    var grt = new Date("01/05/2020 00:00:00");//在此处修改你的建站时间
    now.setTime(now.getTime() + 250);
    days = (now - grt) / 1000 / 60 / 60 / 24; dnum = Math.floor(days);
    hours = (now - grt) / 1000 / 60 / 60 - (24 * dnum); hnum = Math.floor(hours);
    if (String(hnum).length == 1) { hnum = "0" + hnum; } minutes = (now - grt) / 1000 / 60 - (24 * 60 * dnum) - (60 * hnum);
    mnum = Math.floor(minutes); if (String(mnum).length == 1) { mnum = "0" + mnum; }
    seconds = (now - grt) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum);
    snum = Math.round(seconds); if (String(snum).length == 1) { snum = "0" + snum; }
    document.getElementById("timeDate").innerHTML = "本站已安全运行 " + dnum + " 天 ";
    document.getElementById("times").innerHTML = hnum + " 小时 " + mnum + " 分 " + snum + " 秒&nbsp;&nbsp;";
  }
  setInterval("createtime()", 250);
</script>